---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "nav";
@import "homepage";
@import "blog";
@import "portfolio";
@import "project";
@import "resume";

//Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
// html {
//   background-color: #333;
// }

body {
  line-height: 1.5;
  font-size: 18px;
  // background-color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $coral;
  &:hover {
    text-decoration: underline;
  }
  // &:hover, &:active {
  //   color: $white;
  //   background-color: $darkGray;
  // }
}

// // Nicolas Gallagher's micro clearfix hack
// // http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
//   content: " ";
//   display: table;
// }

// .clearfix:after {
//     clear: both;
// }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

  a {
    padding-top: 10px;
  }

  .comments {
    margin-top: 10px;
    font-family: $sans-serif;
  }

.wrapper-footer {
  border-top: 1px solid $darkGray;
  border-bottom: 1px solid $darkGray;
  background-color: $darkGray;
  // position: fixed;
  // bottom: 0;
  // z-index: 2;
  // width: 100%;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
