---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


/**************/
/* PORTFOLIO PAGE */
/**************/

#portfolio-grid {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

.proj-grid {
  background-color: $orange;
  border: 3px solid $orange;
  padding: 15px;
  transition: all, 0.4s;
  flex: 0 1 auto;
  width: 50%;
  p {
    color: white;
  }

  &:hover {
    background-color: white;
    transition: all, 0.4s;
    border-left: 3px solid $orange;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;
    p {
      color: $orange;
    }
    a {
      color: $orange;
    }
  }

  &:nth-child(even) {
    background-color: lighten($orange, 10%);
    color: $orange;

    &:hover {
      background-color: white;
      color: $orange;
    }
  }
}

.project-title {
  text-align: center;
  a {
    color: white;
    font-family: $serif;
  }
}

/**************/
/* SNAP OREGON */
/**************/

.project-grid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  //margin: 0 auto;
}

.photo-space {
  margin: 20px;
  min-width: 30%;
}

.snap-screenshot {
  transition: all 200ms ease-in;
  &:hover {
  box-shadow: 0px 0px 30px #000000;
  transition: all 200ms ease-in;
  transform: scale(1.2);
  }
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  p {
    color: $darkerGray;
    font: 18px/1.4 $sans-serif;
  }
}

.container {
  // display: flex;
  // justify-content: center;
  margin: 0 auto;
  max-width: 70%;
  padding: 0 10px;
  width: 100%;
}

h2, h4, h5, h6 {
  font-family: $cursive;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-family: $cursive;
  a {
    color: $orange;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $orange;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  padding-bottom: 15px;
  color: $orange;
  cursor: pointer;
  font-family: $cursive;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $blue;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $orange;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    &:hover, &:active {
    color: $blue;
    }

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  //border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  h1 {
  color: $orange;
  }

  a {
    padding-top: 10px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  background-color: $orange;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.entry h3 {
  font-family: $cursive;
  color: $orange;
}

.read-more {
  font-family: $sans-serif;
}

.page h1 {
  color: $orange;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
