---
---

//
// IMPORTS
//

@import "variables";
@import "reset";
@import "highlights";
@import "base";
@import "nav";
@import "homepage";
@import "blog";
@import "resume";
@import "about";
@import "archive";


/*Syntax highlighting @import is at the bottom of this file*/

/**************/
/* BASE RULES */
/**************/
/*// html {
//   background-color: #333;
// }*/

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  /*// &:hover, &:active {
  //   color: $white;
  //   background-color: $h2;
  // }*/
}

/*// // Nicolas Gallagher's micro clearfix hack
// // http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
//   content: " ";
//   display: table;
// }

// .clearfix:after {
//     clear: both;
// }*/

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

a {
  padding-top: 10px;
}

.comments {
  margin-top: 10px;
  font-family: $sans-serif;
}

/*.wrapper-footer {
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  background-color: $accent-color;*/

.entry ul li {
  font-family: $sans-serif
}

/*Settled on moving the import of syntax highlighting to the bottom of the CSS
... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start*/
@import "highlights";
@import "svg-icons";
