#about-recs {
  background-color: $page-background;
  padding: 1em 1em;
  font-family: $display;
  font-size: 18px;
  line-height: 1.5em;
  color: $text;
  text-align: left;
  border-style: inset;
  border-width: 3px;
  border-color: $accent-color;
}