#about-recs {
  background-color: $page-background;
  padding: 1em 1em;
  font-family: $sans-serif;
  line-height: 1.5em;
  color: $text;
  text-align: left;
  border-style: inset;
  border-width: 3px;
  border-color: $accent-color;
}

.quote-text {
	font-style: italic;
}

.quote-author {
	font-family: $display;
	color: $accent-color;
	text-indent: 1em;
}