body {
  background-color: $tertiary-color;
}

h1 {
  font-family: $display;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.7em;
  font-size: 34px;
  color: $main-color;
  a {
    color: $main-color;
  }
  a:hover {
    text-decoration-style: wavy;
  }
}

h2 {
  font-family: $display;
  font-size: 25px;
  font-weight: 700;
  color: $main-color;
  margin-bottom: 0.3em;
}

h3 {
  font-family: $display;
  font-size: 18px;
  /*font-weight: 700;*/
  color: $main-color;
}

h4 {
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $main-color;
  a {
    color: $secondary-color;
    text-decoration-line: none;
    &:hover {
      text-decoration-style: wavy;
    }
  }
}

p {
  font-family: $sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: $text;
  a {
    color: $secondary-color;
    background-color: $tertiary-color;
    &:hover {
      color: $tertiary-color;
      background-color: $secondary-color;
      text-decoration-line: underline;
      text-decoration-style: wavy;
    }
  }
}

a {
  color: $secondary-color;
  &:hover {
    text-decoration-style: wavy;
  }
}

ol, ul {
  font-family: $sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: $main-color;
  margin-top: 0;
  margin-bottom: 1em;
}

.page {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}