h1 {
  font-family: $display;
  font-weight: 700;
  margin-bottom: 0.7em;
  font-size: 36px;
  color: $main-color;
  a {
    color: $main-color;
  }
  a:hover {
    text-decoration: underline;
    color: $secondary-color;
  }
}

h2 {
  font-family: $display;
  font-size: 25px;
  font-weight: 700;
  color: $main-color;
  margin-bottom: 0.3em;
}

h3 {
  font-family: $display;
  font-size: 18px;
  // font-weight: 700;
  color: $main-color;
}

h4 {
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $main-color;
}

p {
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 1.57;
  color: $text;
  a {
    color: $secondary-color;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
}

/*a {
  color: $secondary-color;
  &:hover {
    text-decoration: underline;
  }
}*/

ol, ul {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 1.57;
  color: $main-color;
  margin-top: 0;
  margin-bottom: 1em;
}

.page {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}