//
// MAIN BLOG PAGE STYLES
//

.posts > .post {
  padding-bottom: 2em;
  // padding-bottom: 6em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

// List of posts on the blog landing page
article.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;

  h1.post-title {
    margin-bottom: 0.5em;
  }
}

.entry p {
  padding-bottom: 0.75em;
}

.read-more {
  font-family: $display;
  font-style: italic;
  color: $accent-color;
}

//
// INDIVIDUAL BLOG POST STYLES
//

h1.blog-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.date {
  font-family: $display;
  font-style: italic;
  color: $main-color;
  margin-top: 2em;
}

.disqus {
  padding: 2em 3em;
}

#disqus_thread {
  font-family: $sans-serif;
}
