.disqus {
  padding: 2em 3em;
}

.blog-title {
  padding-top: 15px;
}

// .blog-title {
//   padding-top: 15px;
// }

.date {
  font-family: $serif;
  font-style: italic;
  color: $darkGray;
}

#disqus_thread {
  font-family: $sans-serif;
}

.post-title {
	font-family: $sans-serif;
	font-size: 30px;
	color: darkerGray;
}

.posts > .post {
  padding-bottom: 2em;
  //border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts {
  margin-top: 100px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

.post h1 {
  font-family: $sans-serif;
  font-size: 20px;
}

  .entry p {
    font-family: $serif;
  }