//
// HOMEPAGE STYLES
//

// .header {
//   position: fixed;
//   width: 100%;
//   z-index: 1;
// }

#hero-img {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("images/ecola-state-park.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}

h1 #hero-title {
  // why isn't the font color changing!
  color: #fff;
  text-shadow: 5px 8px 10px #222;

}

#hero-title {
  font-family: $serif;
  font-size: 5em;
  text-align: center;
  padding-top: 2em;
}

#hero-subtitle {
  font-family: $sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
}

#quotes {
  background-color: $coral;
  padding: 4em 0;
  font-family: $sans-serif;
  font-size: 1.6em;
  color: #fff;
  text-align: center;
}

#work-example {
  background-color: green;
}

#latest-blog {
  background-color: pink;
}