//
// RESUME STYLES
//

.res-sec-title {
	font-family: $display;
  font-size: 25px;
  color: $coral;
  margin-top: 1em;
}

.res-h2 {
	font-family: $display;
	font-size: 18px;
	font-weight: 700;
	color: $darkGray;
}

.res-h3 {
	font-family: $display;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	color: $darkGray;
}

.skill-list {
	-webkit-columns: 5 150px;
	-moz-columns: 5 150px;
	columns: 5 150px;

	@include mobile {
		-webkit-columns: 2 100px;
		-moz-columns: 2 100px;
		columns: 2 100px;
	}
}

.internet-pres-link {
	font-family: $display;
	font-style: italic;
}

