//
// RESUME STYLES
//

.res-sec-title {
  margin-top: 1em;
  text-align: center;
  color: $main-color;
}

.res-h2 {
	font-family: $display;
	color: $main-color;
}

.res-h3 {
	color: $text;
}

.res-h4 a {
	color: $secondary-color;
}

.year {
	text-align: center;
	color: $text;
}

.skill-list {
	-webkit-columns: 5 150px;
	-moz-columns: 5 150px;
	columns: 5 150px;

	@include mobile {
		-webkit-columns: 2 100px;
		-moz-columns: 2 100px;
		columns: 2 100px;
	}
}

.internet-pres-link {
	font-family: $sans-serif;
	font-size: 16px;
}

#tristan {
	text-align: center;
}

