/**************/
/* SUDOKU */
/**************/

// styling for div on Portfolio
#sudokuDiv {
  border-left: none;
  @include mobile {
    border: 3px $darkGray solid;
    border-top: none;
  }
}

#sudoku-embed {
  // display: flex;
  // flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 80px;
  border-bottom: 3px solid gray;
}