/**************/
/* TREEHOUSE BADGES */
/**************/

// styling for div on Portfolio
#treehouseDiv {
  border-top: none;
}

#treehouse-embed {
  width: 100%;
  margin-bottom: 80px;
  border-bottom: 3px solid gray;
}