
//
// VARIABLES
//

// Colors
$blue: #1E90FF;
$coral: #FF7F50;
$gold: #FFD700;
$pink: #FF69B4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic|Satisfy|Roboto+Slab|Pompiere);
$serif: "Roboto Slab", serif;  
$sans-serif: "Carrois Gothic", sans-serif;
$cursive: "Pompiere", cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}