
//
// VARIABLES
//

//Colors
$main-color: #ff00a1; // pink
$secondary-color: #FFF15B; // yellow
$tertiary-color: #23242A; // dark grey
$text: #FFF7F7; // cream

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans&display=swap);
$sans-serif: "Open Sans", sans-serif;
$display: "Libre Baskerville", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}