
//
// VARIABLES
//

//Colors
$main-color: #FFB833; // golden yellow
$secondary-color: #FFB833;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #414141;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Playfair+Display:400,400italic,700italic,700);
$sans-serif: "Roboto", sans-serif;
$display: "Playfair Display", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}