---
layout: navpages
---

<div class='add-pad'>
	<article class="post">
	  <h1 class='blog-title'>{{ page.title }}</h1>

	  <span class="tag-section">[
	    {% for tag in page.tags %}
	      {% capture tag_name %}{{ tag }}{% endcapture %}
	      <a class="tag-section" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
	    {% endfor %}
	  ]</span>

<!-- 		<div class="related-image">
			{% if page.related_image %}
	  			<img src="{{ page.related_image }}" alt="">
			{% endif %}
		</div> -->

	  <div class="entry">
	    {{ content }}
	  </div>

	  <div class="date">
	    Written on {{ page.date | date: "%B %e, %Y" }}
	  </div>

	  {% include disqus.html %}
	</article>
</div>